In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
#Open sas dataset from brfss containing obesity information for education, income, age and ethnicity.
yearlist=["2012","2013","2014","2015","2016"]
year="2015"
filepath = "LLCP" + str(year) + ".XPT"
print(filepath)
#brfss_edudf = pd.read_sas('LLCP2016.XPT')
brfss_edudf = pd.read_sas(filepath)

LLCP2015.XPT

In [3]:
brfss_edudf.head(5)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [4]:
brfss_edudf["_STATE"].unique()

array([  1.,   2.,   4.,   5.,   6.,   8.,   9.,  10.,  11.,  12.,  13.,
        15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,  23.,  24.,  25.,
        26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,  34.,  35.,  36.,
        37.,  38.,  39.,  40.,  41.,  42.,  44.,  45.,  46.,  47.,  48.,
        49.,  50.,  51.,  53.,  54.,  55.,  56.,  66.,  72.])

In [5]:
# read fips to state reference data. 
fip_state = pd.read_csv('fips_to_state.csv')
fip_state.head()

   fips state_abbr
0     1         AL
1     2         AK
2     4         AZ
3     5         AR
4     6         CA

In [6]:
#List column names for the data frame.
brfss_edudf.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENUM',
       ...
       '_PAREC1', '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2',
       '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object', length=330)

In [7]:
# Re-naming the _STATE to fips  and brfss dataframe for merging the FIPS DF. 
brfss_edudf = brfss_edudf.rename(columns={"_STATE":"fips"})
brfss_merge = pd.merge(brfss_edudf,fip_state,on="fips")
# Dropping the fips column as it is not required further
#**.drop(["fips"],axis=1,inplace=True)
brfss_merge.head(5)

,fips,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3,state_abbr
0,1,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,AL
1,1,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0,AL
2,1,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN,AL
3,1,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0,AL
4,1,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,AL

In [37]:
#create a new dataframe with the columns needed for education, income with year and state information included.
#fill in columns with data based on the 2016 codebook
#reference: https://www.cdc.gov/brfss/annual_data/2016/pdf/codebook16_llcp.pdf
brfss_edu_inc = brfss_merge[['state_abbr', 'IDATE' , '_BMI5CAT', '_RFBMI5', '_EDUCAG', 'INCOME2']]

brfss_edu_inc.head(5)

  state_abbr        IDATE  _BMI5CAT  _RFBMI5  _EDUCAG  INCOME2
0         AL  b'01292015'       4.0      2.0      2.0      3.0
1         AL  b'01202015'       3.0      2.0      4.0      1.0
2         AL  b'02012015'       2.0      1.0      2.0     99.0
3         AL  b'01142015'       3.0      2.0      2.0      8.0
4         AL  b'01142015'       2.0      1.0      3.0     77.0

In [38]:
brfss_edu_inc["INCOME2"].unique()

array([  3.,   1.,  99.,   8.,  77.,   6.,   4.,   7.,   5.,   2.,  nan])

In [39]:
## options to correctly decode IDATE values to UTF-8 format.
pd.options.mode.chained_assignment = None

In [40]:
brfss_edu_inc[437455:437461]

       state_abbr        IDATE  _BMI5CAT  _RFBMI5  _EDUCAG  INCOME2
437455         PR  b'12182015'       3.0      2.0      4.0      5.0
437456         PR  b'12212015'       4.0      2.0      4.0      7.0
437457         PR  b'12162015'       1.0      1.0      1.0      4.0
437458         PR  b'12142015'       3.0      2.0      3.0      2.0
437459         PR  b'12232015'       4.0      2.0      2.0      5.0
437460         PR  b'12152015'       2.0      1.0      3.0      1.0

In [41]:
brfss_edu_inc["IDATE"] = brfss_edu_inc["IDATE"].str.decode("utf-8")
brfss_edu_inc["_BMI5CAT"] = brfss_edu_inc["_BMI5CAT"].replace({1:"Underweight", 2.0:"Normal Weight", 3.0:"Overweight", 4.0:"Obese", None:"Don't know/Refused/Missing"})
brfss_edu_inc["_RFBMI5"]= brfss_edu_inc["_RFBMI5"].replace({1.0:"No", 2.0:"Yes", 9.0:"Donâ€™t know/Refused/Missing"})
brfss_edu_inc["_EDUCAG"] = brfss_edu_inc["_EDUCAG"].replace({1.0:"Did not graduate High School", 2.0:"Graduated High School", 
                                                           3.0:"Attended College or Technical School", 
                                                           4.0:"Graduated from College or Technical School", 
                                                           9.0: "Donâ€™t know/Not sure/Missing"})

brfss_edu_inc["INCOME2"] = brfss_edu_inc["INCOME2"].replace({1.0:"Less than $10,000", 2.0:"$10,000 to less than $15,000",
                                                             3.0:"$15,000 to less than $20,000", 4.0:"$20,000 to less than $25,000", 
                                                             5.0:"$25,000 to less than $35,000", 6.0: "$35,000 to less than $50,000",
                                                             7.0:"$50,000 to less than $75,000", 8.0:"$75,000 or more",
                                                             8.0:"$75,000 or more",77.0:"Donâ€™t know/Not sure",99:"Refused",
                                                             None:"Not asked or Missing"
                                                            })
brfss_edu_inc.head(5)

,state_abbr,IDATE,_BMI5CAT,_RFBMI5,_EDUCAG,INCOME2
0,AL,01292015,Obese,Yes,Graduated High School,"$15,000 to less than $20,000"
1,AL,01202015,Overweight,Yes,Graduated from College or Technical School,"Less than $10,000"
2,AL,02012015,Normal Weight,No,Graduated High School,Refused
3,AL,01142015,Overweight,Yes,Graduated High School,"$75,000 or more"
4,AL,01142015,Normal Weight,No,Attended College or Technical School,Donâ€™t know/Not sure

In [42]:
brfss_edu_inc= brfss_edu_inc.rename(columns={"state_abbr": "State", 
                              "IDATE": "Date", 
                              "_BMI5CAT": "BMI Category", 
                              "_RFBMI5": "BMI Over 25", 
                              "_EDUCAG": "Education_Level",
                              "_INCOME2": "Income_range"})
brfss_edu_inc.reset_index(inplace=True,drop=True)

In [44]:
brfss_edu_inc.head(10)

,State,Date,BMI Category,BMI Over 25,Education_Level,INCOME2
0,AL,01292015,Obese,Yes,Graduated High School,"$15,000 to less than $20,000"
1,AL,01202015,Overweight,Yes,Graduated from College or Technical School,"Less than $10,000"
2,AL,02012015,Normal Weight,No,Graduated High School,Refused
3,AL,01142015,Overweight,Yes,Graduated High School,"$75,000 or more"
4,AL,01142015,Normal Weight,No,Attended College or Technical School,Donâ€™t know/Not sure
5,AL,01142015,Overweight,Yes,Did not graduate High School,"$35,000 to less than $50,000"
6,AL,01052015,Normal Weight,No,Attended College or Technical School,"$20,000 to less than $25,000"
7,AL,01142015,Obese,Yes,Did not graduate High School,"$15,000 to less than $20,000"
8,AL,01132015,Underweight,No,Did not graduate High School,Donâ€™t know/Not sure
9,AL,01302015,Overweight,Yes,Graduated from College or Technical School,"$75,000 or more"

In [45]:
#save to csv
writefilename= "ObesityEduIncome_"+ str(year) +".csv"
print(writefilename)

ObesityEduIncome_2015.csv

In [46]:
#save to csv
brfss_edu_inc.to_csv(writefilename,index=False)

In [48]:
edui2015_df = pd.read_csv("ObesityEduIncome_2015.csv",encoding="utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 3: invalid start byte

In [18]:
#edui2016_df.head(5)

In [19]:
#brfss_edu_inc["BMI Category"].unique()

In [20]:
# #Get obese,overweight and other  data records and write to a new dataframe for further counts and % values. 
# #brfss_edu_inc_obese=brfss_edu_inc.loc[brfss_edu_inc["BMI Category"] == "Obese"]
# #brfss_edu_inc_obese.reset_index(inplace=True,drop=True)
# brfss_edu_inc_ovw=brfss_edu_inc.loc[brfss_edu_inc["BMI Category"] == "Overweight"]
# brfss_edu_inc_ovw.reset_index(inplace=True,drop=True)
# brfss_edu_inc_oth=brfss_edu_inc.loc[(brfss_edu_inc["BMI Category"] != "Overweight") & 
#                                     (brfss_edu_inc["BMI Category"] != "Obese") ]
# brfss_edu_inc_oth.reset_index(inplace=True,drop=True)

In [21]:
# #Group by education for more stats and analysis. 
# brfss_edu_inc_obese_grp = brfss_edu_inc_obese.groupby("Education_Level")
# brfss_edu_inc_ovw_grp = brfss_edu_inc_ovw.groupby("Education_Level")
# brfss_edu_inc_oth_grp = brfss_edu_inc_oth.groupby("Education_Level")

In [22]:
#brfss_edu_inc_oth_grp.head()
#brfss_edu_inc_obese_grp.tail(5)

In [23]:
# brfss_edu_obese_grp_cnt = brfss_edu_inc_obese_grp["BMI Category"].value_counts()
# brfss_edu_ovw_grp_cnt = brfss_edu_inc_ovw_grp["BMI Category"].value_counts()
# brfss_edu_oth_grp_cnt = brfss_edu_inc_oth_grp["BMI Category"].value_counts()

In [24]:
# #brfss_edu_obese_grp_cnt = brfss_edu_inc_obese_grp["BMI Category"].value_counts()
# brfss_edu_oth_grp_cnt

In [25]:
# #unstack other category to column values. 
# brfss_edu_oth_grp_cnt1 = brfss_edu_oth_grp_cnt.unstack(level=1)
# brfss_edu_oth_grp_cnt1 
# #brfss_edu_obese_grp_cnt
# #brfss_edu_ovw_grp_cnt

In [26]:
# print(type(brfss_edu_oth_grp_cnt1))
# print(type(brfss_edu_obese_grp_cnt))
# brfss_edu_obese_grp_cnt

In [27]:
#convert to dataframe and Rename column to indicate Overweight count.
brfss_edu_obese_grp_cnt_df = pd.DataFrame(brfss_edu_obese_grp_cnt,columns="Obese count",index="Education_Level")

NameError: name 'brfss_edu_obese_grp_cnt' is not defined

In [ ]:
#brfss_edu_obese_grp_cnt_df = brfss_edu_obese_grp_cnt_df.rename(columns={"BMI Category":"Obese count"})

In [ ]:
# #Convert series to dataframe and Rename column to indicate Overweight count.
# brfss_edu_ovw_grp_cnt_df = pd.DataFrame(brfss_edu_ovw_grp_cnt)
# brfss_edu_ovw_grp_cnt_df = brfss_edu_ovw_grp_cnt_df.rename(columns={"BMI Category":"Overweight count"})

In [ ]:
# brfss_edu_ovw_grp_cnt_df1=brfss_edu_ovw_grp_cnt_df
# brfss_edu_ovw_grp_cnt_df1

#del brfss_edu_ovw_grp_cnt_df["BMI Category"]

In [ ]:
# print(type(brfss_edu_oth_grp_cnt1))
# print(type(brfss_edu_obese_grp_cnt_df))

In [ ]:
# #brfss_edu_oth_grp_cnt1.reset_index()
# brfss_edu_oth_grp_cnt1 ["Education_Level"]

In [ ]:
# brfss_edu_obese_grp_cnt_df.index

In [ ]:
#brfss_edu_obese_grp_cnt_df.reset_index()
#brfss_edu_obese_grp_cnt_df["Education_Level"]

In [ ]:
#brfss_edu_ovw_grp_cnt_df.reset_index(level=1,drop=True)
#brfss_edu_oth_grp_mrg1 = pd.merge(brfss_edu_oth_grp_cnt1,brfss_edu_obese_grp_cnt_df,on="Education_Level")

In [ ]:
#brfss_edu_ovw_grp_cnt_df